@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply font-sans text-base text-white h-screen w-screen overflow-hidden select-none;

  /* please for the love of god do NOT touch this */
  background-image: radial-gradient(#333 2px, transparent 2px),
    radial-gradient(#333 2px, transparent 2px);
  background-color: black;
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
}
